body{
	background-image: ;
	background-color:black;
}
div.wrapper{
	font-family:sans-serif,Arial;
	background-image: ;
	background-color:white;
	text-align:center;
	width: 60%;
	margin: auto;
	padding: 20px;
	display:block;
	margin-top: 200px;
	font:status-bar;
}

/*h's*/
h1{
	font-family: Roboto;
	font-size:50pt;
	text-transform: Uppercase;
	margin-bottom: 20px;
}
h2{
	font-family: Georgia;
	font-size: 20pt;
	text-transform: Capitalize;
	font-style: regular;
	margin-top: 0px;
}
h3{
}
/*hidden class*/
.hidden{
	display:none;
}

/*timer*/
#timer{
	font-size: 36pt;
	width: 60px;
	height: 60px;
	border: gold;
	border-style: dotted;
	border-radius: 20px;
	padding: 5px 10px 5px 10px;
	color:gold;
	text-shadow:  
	-1px -1px 0 red,  
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red;
    margin:auto;

}
#game{
	font-color:black;
	font-size: 15px;
}
#selectionOne{
	display:inline-block;
	margin: 5px;
}
#selectionTwo{
	display:inline-block;
	margin: 5px;
}
#selectionThree{
	display:inline-block;
	margin: 5px;
}
#selectionFour{
	display:inline-block;
	margin: 5px;
}

